<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target name="logconsole" xsi:type="Console" layout="${time} ${uppercase:${level}} | ${message}"/>
        <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole"/>
        <logger name="*" minlevel="Trace" writeTo="logfile"/>
    </rules>
</nlog>